.box{
    width: 500px;
    height: 400px;
    background-color: rgb(20, 19, 20);
   
    display: inline-block;
    opacity: 0;
    transition: all ease 2s;
   
    font-size: x-large;
    text-align: center;
    box-shadow: 2px 2px rgb(18, 19, 18);
    
}
.overly{
    width: 500px;
    height: 400px;
  
    transition: all ease 3s;
    opacity: 1;
     background-image: url(/winter-night.jpg);
}
 .overly:hover{
    opacity: 0.5;
    transform: scale(1.02);
   
 }
 .box:hover{
    opacity: 0.8;
    transform: scale(1.02);
    
 }
 span{
 color: #fc0303;
    position: relative;
    top: 150px;
    left: 07px;
    overflow: hidden;
    opacity: 1;
 }
 .span:hover{
    opacity: 0;
    color: #fc0303;
   
    
 }