.box{
    width: 500px;
    height: 400px;
    display: inline-block;
    opacity: 1;
    transition: all ease  4s 0.005s;
    text-align: center;
    background-image: url(/winter-night.jpg);

    
    
}
.overly{
    width: 500px;
    height: 400px;
     transition: all ease .01s;
    opacity: 0;
}
 .overly:hover{
    opacity: 0.8;
    text-align: center;
   
 }

 .box1{
font-size: 70px;
position: relative;
top: 60px;
left: 10px;
 }
 

 a{
    text-decoration: none;
    color: rgb(255, 2, 107);
    opacity: 0.9;
 }
 a hover{
    opacity:1;
   
   color: rgb(255, 0, 0);
    text-align: center;
    opacity: 1;
 }
 .box:hover{
    opacity: 0.8;
    text-align: center;
    background-color: black;
    color: rgb(245, 5, 5);
   
 }

